* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: black;
  color: white;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #ddd;
}

.main {
  color: black;
  line-height: 2;
}
button {
  padding: 2px 4px;
  margin: 2px 4px;
  font-size: larger;
  font-weight: bolder;
  background-color: aquamarine;
  border-radius: 5px;
  border-width: 1px;
}
button:hover {
  color: red;
  background-color: bisque;
}

a {
  text-emphasis-color: inherit;
  color: rgb(100, 97, 97);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.signbox {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  font-size: xx-large;
}
#email,
#pass {
  width: auto;
  height: 35px;
}
#submit {
  width: 100px;
  height: 50px;
  font-size: x-large;
}

fieldset {
  font-size: x-large;
}

h4 {
  text-align: right;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: black(198, 144, 144);
}
